.App {
  text-align: center;
}
button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
}
.form input {
  width: 200px;
  height: 25px;
}
input {
  height: 25px;
  border-radius: 4px;
  margin-top: 16px;
}
